<div class="my-3">
  <h2>Take, TakeLast and TakeUntil</h2>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p class="bg-light py-2 px-3 border rounder">
        ['Red', 'Blue', 'Gree', 'Purple', 'Black', 'Pink', 'Pink']
      </p>
    </div>
  </div>
  <div class="row">
    <!-- Ex 01 -->
    <div class="col-md-4">
      <strong>Ex 01</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>Take(5)</strong>
      </p>
      <ul id="elContainer1"></ul>
    </div>
    <!-- Ex 02 -->
    <div class="col-md-4">
      <strong>Ex 02</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>TakeLast(5) :</strong>
      </p>
      <ul id="elContainer2"></ul>
    </div>
    <!-- Ex 03 -->
    <div class="col-md-4">
      <strong>Ex 03</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>TakeUntil(condition) :</strong>
      </p>
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
