<div class="my-3">
  <h2>Of and From</h2>
  <hr>
  <div class="row">
    <!-- Ex -01 -->
    <div class="col-md-6">
      <strong>Ex 01 (Of) With String</strong>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>Data :</strong> Of('Ferhan', 'Uddin', 'Siddiqi')
      </p>
      <hr>
      <ul id="elContainer1"></ul>
    </div>
    <!-- Ex -02 -->
    <div class="col-md-6">
      <strong>Ex 02 (Of) With Object</strong>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>Data :</strong> Of(&#123; a: 'Ferhan', b: 'Uddin', c: 'Siddiqi' &#125;)
      </p>
      <hr>
      <ul id="elContainer2">
        <li><strong>a : </strong>{{objEx2.a}}</li>
        <li><strong>b : </strong>{{objEx2.b}}</li>
        <li><strong>c : </strong>{{objEx2.c}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex 03 (From) With Array</strong>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>Data :</strong> from(['Ferhan', 'Uddin', 'Siddiqi'])
      </p>
      <hr>
      <ul id="elContainer3"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex 04 (From) With Promise</strong>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>Data :</strong> Promise to Observable
      </p>
      <hr>
      <ul id="elContainer4"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex 05 (From) With String</strong>
      <p class="bg-light py-2 px-3 border rounder">
        <strong>Data :</strong> String to Observable
      </p>
      <hr>
      <ul id="elContainer5"></ul>
    </div>
  </div>
</div>
